[submodule "damien-omen"]
    path = "damien-omen"
    url = "git@github.com:skeletony007/damien-omen-ansible-role.git"

[submodule "icestorm"]
    path = "icestorm"
    url = "git@github.com:skeletony007/icestorm-ansible-role.git"

[submodule "samsung-c32g75t"]
    path = "samsung-c32g75t"
    url = "git@github.com:skeletony007/samsung-c32g75t-ansible-role.git"
